.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox,
.radio
	padding 1em

.checkbox label, 
.radio label 
	line-height 1.4em

.checkbox .cr,
.radio .cr {
	position: relative;
	display: inline-block;
	box-shadow inset 0px 0px 0px 2px color-bg-darker
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-right: 0.5em;
	transition box-shadow .3s ease-in
	cursor pointer
}

.radio .cr {
	border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
	color color-theme
	text-align center
	width 100%
	vertical-align middle
	transition opacity .3s ease, transform 0.3s ease
}

.radio .cr .cr-icon 
	transition opacity .3s ease, font-size 0.3s ease

.checkbox .cr .cr-icon
	font-size: 1.5em

.radio .cr .cr-icon
	line-height 1.5em
	font-size: 1em
	
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon
    opacity: 0;
    transform rotate(180deg)


.radio label input[type="radio"] + .cr > .cr-icon 
	opacity 0
	font-size 0em

.checkbox label input[type="checkbox"]:checked + .cr ,
.radio label input[type="radio"]:checked + .cr  
	box-shadow inset 0px 0px 0px 2px color-theme

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon
    opacity: 1;
    transform rotate(0deg)


.radio label input[type="radio"]:checked + .cr > .cr-icon 
	opacity 1
	font-size 1em

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}