.drop
	text-align left
	position relative
	&.active
		.title
			.ico
				background-color color-normal
				&::after
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					transform: rotate(180deg);
		.content
			max-height 300px
	.title
		@extends $font-style
		display flex
		text-align left
		background-color color-light
		color white
		cursor default
		&:active
			.ico, .value
				background-color color-normal
		.value
			padding 1em
			flex-grow 1
		.ico
			font-size 3em
			&::after
				display inline-block
				content "\e5cf"
				cursor pointer
				background-color transparent
				transition transform 0.3s ease
			&:hover
				background-color color-normal
			&:active
				background-color color-dark
	.content
		z-index 1
		max-height 0
		overflow auto
		position absolute
		left 0
		top 50px
		width 100%
		transition max-height 0.3s ease
		.item
			@extends $font-style
			display flex
			background-color white
			color black
			cursor pointer
			.value
				padding 1em
				flex-grow 1
			.m-i
				font-size 1.5em
				padding 0.5em
			&:hover, &.selected
				background-color color-theme
				color white