.in
	padding 1em
	@extends $font-style
	border 0px
	outline 0px
	opacity 0.8
	&:focus
		opacity 1
	&.sc
		border-radius 1.5em

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color color-bg-darker
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color color-bg-darker
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color color-bg-darker
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color color-bg-darker
}